OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=
ADMIN_PASSWORD=
USER_PASSWORD=
JWT_SECRET=
JWT_ALGORITHM=
DEFAULT_SIGNER_NAME=
DEFAULT_SIGNER_ADDRESS=
DEFAULT_LOCATION=
DEFAULT_BODY_TEXT_PT= # ...{ref_month}...
DEFAULT_BODY_TEXT_EN= # ...{ref_month}...

